<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>{{page.title}}</title>
<link href="/css/main.css" rel="stylesheet" type="text/css">
</head>

<body>
	<h1>Workbook of Latin Grammar</h1>
	<nav>
	<ul>
		<li><a class="nav" href="http://latinworkbook.com/index.html">Preface</a></li>
		<li><a class="nav" href="http://latinworkbook.com/Assignments.html">Index of Assignments</a></li>
		<li><a class="nav" href="http://latinworkbook.com/References.html">References</a></li>
		<li><a class="nav" href="http://latinworkbook.com/News.html">News</a></li>
		<li><a class="nav" href="http://latinworkbook.com/About.html">About</a></li>
		<li><a class="nav" href="http://latinworkbook.com/Donations.html">Donate</a></li>
    </ul>
	</nav>
  <main>
  {{ content }}
<script src="../js/main.js"></script>
  </main>
  </body>
