<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>{{page.title}}</title>
<link href="/css/main.css" rel="stylesheet" type="text/css">
<meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
</head>

<body>
	<h1>Workbook of Latin Grammar</h1>
	<nav>
	<ul>
		<li><a class="nav" href="http://latinworkbook.com/index.html">Preface</a></li>
		<li><a class="nav" href="http://latinworkbook.com/Assignments.html">Index of Assignments</a></li>
		<li><a class="nav" href="http://latinworkbook.com/References.html">References</a></li>
		<li><a class="nav" href="http://latinworkbook.com/News.html">News</a></li>
		<li><a class="nav" href="http://latinworkbook.com/About.html">About</a></li>
		<li><a class="nav" href="http://latinworkbook.com/Donations.html">Donate</a></li>
    </ul>
	</nav>
  <main>
  {{ content }}
<script src="../js/main.js"></script>
  </main>
<footer>
<p>All contents of this website are a copyright of Alan Fleming (2019).<br>
<a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-nd/4.0/88x31.png" /></a><br />This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/4.0/">Creative Commons Attribution-NonCommercial-NoDerivatives 4.0 International License</a>.</p>
</footer>
  </body>
